# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
weather_data = pd.read_csv("../WeatherPy/weather_data.csv")
weather_data
#weather_data.drop([''], axis=1)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Los Llanos de Aridane,65,ES,1595120687,69,28.66,-17.92,82.00,8.05
1,1,Punta Arenas,99,CL,1595120689,80,-53.15,-70.92,35.01,13.87
2,2,Sitka,90,US,1595120690,93,57.05,-135.33,57.20,9.17
3,3,Kruisfontein,0,ZA,1595120691,79,-34.00,24.73,50.67,5.77
4,4,Bonavista,100,CA,1595120692,67,48.65,-53.11,54.45,4.79
...,...,...,...,...,...,...,...,...,...,...
559,559,Ürümqi,100,CN,1595121398,28,43.80,87.60,86.00,4.47
560,560,Smithers,75,CA,1595121245,77,54.78,-127.17,64.40,4.70
561,561,Colorado,0,BR,1595121400,63,-22.84,-51.97,67.37,8.81
562,562,Ballina,0,AU,1595121401,68,-28.87,153.57,66.99,6.93
563,563,Dudinka,31,RU,1595121165,87,69.41,86.18,51.80,8.95

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure